
.errorMessage{
    color: red;
    margin-bottom: 1em;
    width: 70%;
    padding: 3px;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
input[type="text"].error, select.error, .register input[type="password"].error {
    border: 1px solid red;
    
}
select, .register  input[type="password"] {
    outline-color: #bc3726;
    width: 70%;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em 0;
}

.btnloginsuperior {
    outline: none;
    border: none;
    background: #4a4a4a;
    color: #ababab;
    font-size: 0.9em;
    padding: 5px 12px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    float: left;
    width: 27%;
    margin-right: 18px;
}

.header-gridd ,.header-gridd a{
    color: #FFF;
    text-decoration: none;
    padding: 15px 0;
}

.header-gridd input[type="text"], .header-gridd input[type="submit"] {
    outline: none;
    border: none;
    background: #4a4a4a;
    /*color: #ababab;*/
    color: #fbfbfb;
    font-size: 0.9em;
    padding: 5px 12px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    float: left;
    /*width: 27%;*/
    margin-right: 18px;
}
.header-gridd a.signup {
    font-size: 1.1em;
    /*float: left;*/
    /*padding: 4px 0;*/
    font-weight: 600;
    color: #ea6a53;
/*    width: 14%;
    padding: 4px 0px 4px 13px;*/
}

 a.signup .badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -35px;
}
.header-gridd input[type="submit"] {
    background: #ea6a53;
    /*width: 7%;*/
    margin-right: 0px;
    font-weight: 600;
    color: #fff;
}
.header-gridd label {
    color: #fff;
    font-size: 19px;
    float: left;
}
.title-carrito{
    border-bottom: 1px solid #AAA;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.sidebar-carrito{
    padding: 0.5em;
    border: 1px solid #ccc;
    font-size: 13px;
    background-color: #FFF;
    margin-bottom: 15px;
    
}
.sidebar-carrito hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart-item {
    border-bottom: 1px solid #ccc;
    margin-left: 0;
    margin-right: 0;
    padding: 24px 0px 20px;
    display: table;
    width: 100%;
}
.cart-item .first {
    margin-top:10px;
}
.cart-item .image-container {
    text-align: center;
    display: table-cell;
    float: none;
    vertical-align: top;
}
.cart-item .image-container img {
    height: 91px;
    width: 91px;
}
.cart-item .delete-section {
    float: right;
    padding-right: 12px;
}
.cart-item .delete-section span {
    cursor: pointer;
    float: right;
}

.sidebar-carrito .title-summary {
    width: 100%;
    text-transform: uppercase;
    padding-bottom: 16px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
.price-secondary{
    color: #ea2840;
}

#micuenta  {
    margin-top: 10px;
    margin-bottom: 10px;
}
#micuenta .valor {
    font-size: 15px;
}
#micuenta h1 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC;
}
#micuenta h2 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
}

#micuenta ul {
    list-style: none;
}
#micuenta ul li {
    height: 50px;
    border-bottom: 1px solid #EEE;
}

#micuenta ul li a{
    line-height: 50px;
    vertical-align: middle;
    display: block;
    width: 100%;
    font-size: 13px;
    color:#999;
    text-decoration: none;
}

#micuenta ul li a:hover {
    color:#000;
    font-weight: bold;
}
#micuenta .buttons {
    margin-top: 10px;
}
#micuenta table thead{
    background-color: #4a4a4a;
    color: #FFF;
    font-weight: bold;
}
#buscador.portlet, #buscador .portlet-content{
    margin: 0;
    padding: 0;
    height: 20px;
}

ul#etalage {
    list-style: none;
}   

#menuppal{
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: #CCC !important;
}

#loginform form{
    display: inline !important;
}

#itemsLista .limiter{
    clear: both !important;
    float: none;
}
.item-producto{
    margin-bottom: 10px;
    /*min-height: 150px;*/
}
.item-producto .tab_desc1 h3 { min-height: 60px; }