/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	background:#f6f6f4;
	font-family: 'Open Sans', sans-serif;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*----*/
 ul{
	padding: 0;
	margin: 0;
}
h2,h3,h4,h5,h6,p{
	margin:0;
}
.header-top{
	background:#2d2d2d;
}
.header-grid{
	float:left;
}
.logo{
	float:left;
}
.top-nav{
	float:left;
}
.header-grid ul li{
	display:inline-block;
	padding:1.4em 1em;
}
.header-grid ul li a{
	color:#fff;
	font-size:1.1em;
	text-decoration:none;
}
.header-grid ul li a:hover{
	color:#bc3726;
}
.search{
	float:right;
}
.ad-right {
	float:right;
	padding: 0.7em 0;
}
.ad-right img{
	width:100%;
}
.header-grid-right{
	float:right;
	padding:15px 0;
	width: 47.4%;
}
.header-grid-right label{
	color:#fff;
	font-size:19px;
	float:left;
}
a.sign-in{
	color: #fff;
	font-size: 1.1em;
	text-decoration: none;
	float: left;
	width: 11%;
	padding: 4px 0;
	font-weight: 600;
}
.header-grid-right input[type="text"],.header-grid-right input[type="submit"]{
	outline: none;
	border: none;
	background: #4a4a4a;
	color: #ababab;
	font-size: 0.9em;
	padding: 5px 12px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	float: left;
	width: 27%;
	margin-right: 18px;
}
.header-grid-right input[type="submit"]{
	background: #ea6a53;
	width: 7%;
	margin-right: 25px;
	font-weight: 600;
	color:#fff;
}
a.sign-up{
	font-size: 1.1em;
	text-decoration: none;
	float: left;
	padding: 4px 0;
	font-weight: 600;
	color: #ea6a53;
	width: 14%;
	padding: 4px 0px 4px 13px;
}
a.sign-up:hover{
	color:#FD1E01;
}
/*----*/
.header-bottom-bottom{
	background:#c3c3c3;
}
.top-nav ul li{
	display:inline-block;
	padding: 1em;
	border-right: 1px solid #A7A5A5;
}
.top-nav ul li a{
	text-decoration:none;
	color:#000;
	font-size:1.2em;
	font-family: 'Oswald', sans-serif;
}
.top-nav ul li a:hover,.top-nav ul li.active a{
	color:#fff;
}
/*----*/
.top-nav span.menu:before{
	content: url(../images/menu.png)no-repeat 0px 0px;
	cursor:pointer;	
	width:100%;
}
.top-nav span.menu{
	display: none;
}
/*--responsive media-quries--*/
@media(max-width:768px){
.top-nav ul{
	display: none;
	position:absolute;
	width:100%;
	z-index: 9999;
	left: 0%;
	margin: 0em;
	background:#bc3726;
}
.top-nav ul li label{
	display:none;
}
.top-nav span.menu {
	display: block;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 1em 1em 0.6em;
}
.top-nav ul li,.top-nav ul li.active{
	display: block;
	float:none;
	padding: 0.5em 0;
	text-align: center;
}
.top-nav ul li a,.top-nav ul li.active a{
	color:#fff;
	border: none;
	padding: 0;
	background:none;
	margin: 0.3em 1em;
}
.top-nav ul li a:hover{
	color:#000;
}
}
/*----*/
.women-in {
	padding: 1.5em 0;
}
.search {
	margin: 0.8em 0.8em 0 0em;	
	border-radius:25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	position: relative;
	background: #fff;
	padding: 5px 0px;
	width: 15%;
	float: right;
}
.search input[type="text"] {
	outline: none;
	padding-left: 10px;
	background: none;
	width: 79.33%;
	border: none;
	font-size:1em;
	color:#888;	
}
.search input[type="submit"] {	
	width: 20px;
	height: 20px;	
	background:url(../images/img-sprite.png) 0px 0px;
	padding: 0px 10px;
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
	margin: 1px 0px 0px 6px;
}	
/*--content--*/
.col-d{
	width: 71%;
	padding:0;
	margin-right: 1.5%;
}
.col-m-left{
	width: 27.16%;
	margin:0;
	padding:0;
}
.banner{	
	background:url(../images/banner.jpg) bottom no-repeat;
	width: 100%;
	min-height: 425px;
	background-size:cover;
	display:block;
	position:relative;
}
.banner-matter{
	position: absolute;
	top: 9em;
	left: 5em;
}
.banner-matter label{
	font-size: 1.5em;
	color: #2d2d2d;
	margin: 0 0 0 6em;
	height: 14px;
	display: block;
	font-family: 'Libre Baskerville', serif;
}
.banner-matter h2{
	font-size: 3.3em;
	color: #fff;
	font-family: 'Libre Baskerville', serif;
	font-weight: 600;
}
.banner-matter p{
	font-size:1.4em;
	color:#000;
	font-weight: 600;
}
.you{
	background:#2d2d2d;
	border-radius:100px;
	-webkit-border-radius:100px;
	-o-border-radius:100px;
	-moz-border-radius:100px;
	-ms-border-radius:100px;
	width: 90px;
	height: 90px;
	text-align: center;
	position: absolute;
	top: 15em;
	left: 20em;
}
.you span{
	font-size: 3.4em;
	color: #fff;
	display: block;
	height: 53px;
}
.you  small{
	font-size: 1.2em;
	color: #bc3726;
	font-weight: 700;
	font-family: 'Libre Baskerville', serif;
}
.you span label {
	font-size:15px;	
}
p.para-in {
	color: #fff;
	font-size: 1.2em;
	position: absolute;
	bottom: 12px;
	left: 16px;
}
.in-line {
	padding: 2em 0;
}
/*----*/
.para-an h3{
	font-size:2em;
	color:#000;
	font-family: 'Oswald', sans-serif;
}
.para-an p{
	font-size: 1em;
	color: #858585;
	padding: 0.5em 0 1em;
}
.you-para{
	position:relative;
	float:left;
	width: 31.49%;
	margin-right: 1.5%;
	padding: 0 0 2em;
}
.lady-in {
	padding: 1.5em 0 0;
}
.para-grid{
	margin:0;
}
.you-para p{
	color: #373737;
	font-size: 0.9em;
	font-weight: 600;
	padding: 8px 0 0;
}
.you-para span{
	font-size: 1em;
	color: #bc3726;
	font-weight: 600;
}
.you-para span a{
	color:#767676;
	text-decoration:none;
}
.you-para span a:hover{
	color: #bc3726;
}
.you-in{
	background:#fff;
	border-radius:100px;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius:100px;
	-ms-border-radius: 100px;
	width:50px;
	height:50px;
	text-align:center;
	position:absolute;
	top: 1em;
	left: 11em;
}
.you-in span{
	font-size: 1.8em;
	color: #bc3726;
	display: block;
	height: 24px;
	font-weight: 600;
}
.you-in  small{
	font-size: 0.9em;
	color: #000;
	font-weight:400;
	font-family: 'Libre Baskerville', serif;
}
.pic-in{
	width:100%;
}
.you-in span label {
	font-size:15px;	
}
label.cat-in{
	background: url(../images/img-sprite.png) -24px 0px;
	width: 20px;
	min-height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
.para-an {
	border-bottom: 1px solid #D1D0D0;
}
/*----*/
.in-left{	
	background:url(../images/p111.jpg) 0px 0px;
	width: 100%;
	min-height: 425px;
	background-size:cover;
	display:block;
	position:relative;
}
/*.cool{
	background:url(../images/get.png) 0px 0px no-repeat;
	width: 175px;
	height: 183px;
	text-align: center;
	position:absolute;
	bottom:-2px;
	right: 0em;
}*/
p.code{
	font-size: 1.5em;
	color: #c4c4c4;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	top: 46px;
	left: 10px;
	font-family: 'Oswald', sans-serif;
}
.discount{
	position:relative;
	padding:1.8em 0 0;
}
p.no-more {
	font-size: 1.2em;
	color: #636563;
	line-height: 22px;
	position:absolute;
	top: 37px;
	right: 27px;
}
p.no-more  b{
	font-size:1.4em;
	display:block;
	font-weight: 400;
}
p.no-more  span{
	color:#bc3726;
}
p.no-get b{
	color:#fff;
}
p.no-get{
	color:#c3c3c3;
	font-size:1.3em;
}
a.know-more{
	text-decoration: none;
	font-size: 1.3em;
	color: #fff;
	background: #bc3726;
	padding: 0.5em 1em 0.5em 0.5em;
	position: absolute;
	bottom: 33px;
	right: 0;
}
a.know-more:hover{
	background:#FD1E01;
}
/*----*/
.twitter-in{
	background: #fff;
	padding: 1.8em 1.3em;
	margin: 1.8em 0 0;
	position:relative;
}
.twitter-in h5{
	color: #000;
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	border-bottom: 1px solid #D0CDCD;
}
.up-date {
	padding: 1em 0 1em;
}
.up-date p{
	color:#000;
	font-size:0.9em;
	font-weight: 600;
}
.up-date a{
	color:#bc3726;
	font-size:0.9em;
	text-decoration:none;
	font-weight: 600;
}
p.ago{
	font-weight:400;
	color:#7E7E7E;
}
a.tweets{
	text-decoration: none;
	color: #000;
	font-size: 1em;
	float: right;
	font-weight: 600;
	border-bottom: 2px solid #D6D2D2;
	min-height: 22px;
}
a.tweets:hover{
	border-bottom:none;
	color:#bc3726;
}
span.twitter-ic{
	background: url(../images/img-sprite.png) -152px 0px no-repeat;
	width: 73px;
	height: 70px;
	text-align: center;
	position: absolute;
	right: 18px;
	top: 12px;
}
/*---*/
.lady-in-on{
	background:#fff;
	padding: 1.5em 1em;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
	padding: 2em 0;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	width:90%;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px ;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Navigation ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:32px;
	height:32px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/img-sprite.png) no-repeat -44px 0px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/img-sprite.png) no-repeat -77px 0px;
}
.hide-in{
	padding:1px 0 1em;
	text-align:left;
}
.hide-in p{
	font-size: 0.9em;
	font-weight: 600;
	line-height: 2.5em;
	padding:0 0 0.3em;
	color: #373737;
}
.hide-in span{
	font-size: 1em;
	color: #bc3726;
	font-weight: 600;
}
.hide-in span a{
	color:#000;
	text-decoration:none;
	border-bottom:1px solid #c3c3c3;
	min-height:22px;
}
.hide-in span a:hover{
	border-bottom:none;
	color:#bc3726;
}
.buy-an {
	border-bottom: 1px solid #D1D0D0;
}
.buy-an h3{
	font-size:1.5em;
	color:#000;
	font-family: 'Oswald', sans-serif;
}
.buy-an p{
	font-size: 1em;
	color: #858585;
	padding: 0.5em 0 1em;
}
/*----*/
.footer{
	background: #202628;
	padding: 2em 0 1em;
}
.footer p{
	margin:1em 0;
	font-size: 0.9em;
	color:#a0a0a0;
}
p.footer-grid a{
	color:#fff;	
}
p.footer-grid a:hover{
	color:#a0a0a0;
}
.footer a{
	text-decoration:none;
}
.class-footer{
	float:left;
	padding:10px 0;
}
.footer-left{
	float:right;
}
.class-footer ul li{
	display:inline-block;
}
.class-footer ul li label{
	color:#a0a0a0;
}
.class-footer ul li a{
	text-decoration:none;
	color:#a0a0a0;
	font-size:0.87em;	
}
.class-footer ul li a:hover{
	color:#fff;
}
/*--men--*/
.para-all h3{
	font-size:2em;
	color:#000;
	font-family: 'Oswald', sans-serif;
}
.para-all p{
	font-size: 1em;
	color: #858585;
	padding: 0.5em 0 0em;
}
.you-men{
	position:relative;
	float:left;
	width: 31.49%;
	margin-right: 1.5%;
	padding: 0 0 2em;
}
.lady-on {
	padding: 1.5em 0 0;
}
.you-men p{
	color: #373737;
	font-size: 0.9em;
	font-weight: 600;
	padding: 8px 0 0;
}
.you-men span{
	font-size: 1em;
	color: #bc3726;
	font-weight: 600;
}
.you-men span a{
	color:#767676;
	text-decoration:none;
}
.you-men span a:hover{
	color: #bc3726;
}
/*----*/
.you-onto span label {
	font-size:15px;	
}
.you-onto {
	background:#fff;
	border-radius:100px;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius:100px;
	-ms-border-radius: 100px;
	text-align:center;
	position:absolute;
	width: 85px;
	height: 85px;
	left: 18em;
	top: 2em;
}
.you-onto span {
	color: #bc3726;
	display: block;
	font-weight: 600;
	font-size: 3em;
	height: 43px;
}
.you-onto small {
	font-size: 1.5em;
	color: #000;
	font-weight:400;
	font-family: 'Libre Baskerville', serif;
}
/*----*/
/*--women--*/
.para-all-in h3{
	font-size:2em;
	color:#000;
	font-family: 'Oswald', sans-serif;
}
.para-all-in p{
	font-size: 1em;
	color: #858585;
	padding: 0.5em 0 0em;
}
.you-women{
	position:relative;
	float:left;
	width: 31.49%;
	margin-right: 1.5%;
	padding: 0 0 2em;
}
.you-women p{
	color: #373737;
	font-size: 0.9em;
	font-weight: 600;
	padding: 8px 0 0;
}
.you-women span{
	font-size: 1em;
	color: #bc3726;
	font-weight: 600;
}
.you-women span a{
	color:#767676;
	text-decoration:none;
}
.you-women span a:hover{
	color: #bc3726;
}
/*----*/
.you-two span label {
	font-size:15px;	
}
.you-two {
	background:#fff;
	border-radius:100px;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius:100px;
	-ms-border-radius: 100px;
	text-align:center;
	position:absolute;
	width: 85px;
	height: 85px;
	left: 18em;
	top: 2em;
}
.you-two span {
	color: #bc3726;
	display: block;
	font-weight: 600;
	font-size: 3em;
	height: 43px;
}
.you-two small {
	font-size: 1.5em;
	color: #000;
	font-weight:400;
	font-family: 'Libre Baskerville', serif;
}
/*--products--*/
.price-on {
	padding: 0 2em 0 0;
}
.product_right {
	padding: 0;
}
.products_top {
	padding: 4em 0 ;
}
.banner-wrap {
	padding: 1em 0 0;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
	min-height: 400px;	
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width: auto;
	height: auto;
	display:block;
}
.in-product{
	float:left;
}
.banner_right {
	float: left;
	width: 44%;
	margin: 5em 0em 0 2em;
}
.banner_right h3{
	color:#4a4a4a;
	font-size:1.5em;
	font-weight:600;
	font-family: 'Oswald', sans-serif;
}
p.nine{
	color:#bc3726;
	font-size:2em;
	font-weight:bold;
	padding:0.2em 0;
}
p.sit-in{
	color:#767676;
	font-size:1em;
	line-height:1.5em;
	padding: 0em 0 2em;
}
a.to-cart {
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
	background: #bc3726;
	padding: 0.6em 1em;
}
a.to-cart:hover{
	background:#FD1E01;
}
a.to-cart img{
	vertical-align: top;
	padding: 5px 0px 0px 5px;
}
.tab_desc1 h3 a{
	text-decoration:none;
	color:#000;
	font-size:1.2em;
}
.tab_desc1 p{
	color:#000;
	font-size:1em;
	margin:0 0 1em;
}
.grid-4 {
	padding: 0 0 1em;
	margin-right: 3.4%;
	width:31%;
	float:left;
}
.grid-in{
	margin-right:0;
}
/* Default Skin */
.wmuSliderPagination {
	display:none;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png)no-repeat ;
	top:43%;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderPrev {
	background-position: -111px -9px;
	left: 0;
}
.wmuSliderNext {
	background-position: -132px -9px;
	right: 0px;
}
.mens-toolbar {
	border-bottom: 1px solid rgb(190, 190, 190);
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.mens-toolbar .sort {
	float: left;
	width: 20.5%;
	margin-top: 5px;
}
.sort-by {
	color: #000;
	font-size: 0.8125em;
}
.sort-by label {
	font-weight: normal;
}
.pages {
	float: right;
}
ul.dc_pagination.dc_paginationA.dc_paginationA06, ul.yiiPager {
	padding: 0;
	list-style: none;
	float: left;
}
ul.dc_pagination li:first-child, ul.yiiPager li:first-child {
	margin-left: 0px;
	text-transform: uppercase;
}
ul.dc_pagination li, ul.yiiPager li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	background: #DCDCDC;
}
ul.dc_pagination li a, ul.yiiPager li a {
	color: #000;
	display: block;
	padding: 7px 12px;
	text-decoration: none;
	font-size: 0.9em;
}
ul.dc_pagination li a:hover, ul.yiiPager li a:hover{
	color:#fd926d;
}
ul.dc_paginationA06 li a.current {
	background: url(../images/pr_arrow.png) no-repeat 9px 5px;
	display: inline-block;
	width: 31px;
	height: 27px;
}
.limiter.visible-desktop {
	float: left;
	margin: 3px 20px 0;
}
.limiter.visible-desktop label{
	font-size:0.8125em;
	color:#000;
	font-weight: 500;
}
ul.grid-4{
	padding: 0;
	list-style: none;
	position: relative;
}
ul.grid-4 li {
	float: left;
	width: 30.6666%;
	margin-right: 4%;
}
ul.grid-4 li.grid-4_last {
	margin-right: 0;
}
.tab_desc1{
	background:#f9f5f4;
	padding: 1em 0;
	list-style: none;
	text-align: center;
}
.product_box1{
	margin-bottom:2em;
}
h3.m_1 {
	color: #fff;
	font-size: 0.85em;
	padding: 8px 10px;
	background: #000;
	text-transform: uppercase;
}
ul.grid_1{
	padding: 0;
	list-style: none;
	border-bottom: 1px solid rgb(226, 226, 226);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
ul.grid_1 li.grid_1-img{
	float: left;
	width:34%;
	margin-right: 4%;
}
ul.grid_1 li.grid_1-desc{
	float:left;
	width:62%;
}
ul.grid_1 li.grid_1-desc h4{
	margin-bottom: 5px;
	font-size: 0.85em;
	font-weight: 500;
	text-transform: uppercase;
}
ul.grid_1 li.grid_1-desc h4 a{
	color: #000;
}
ul.grid_1 li.grid_1-desc h4 a:hover{
	color:#fd926d;
	text-decoration:none;
}
ul.grid_1 li.grid_1-desc p{
	font-size:1.1em;
	font-weight:bold;
	color:#bc3726;
}
.sale_grid{
	margin-bottom: 2em;
	margin-top: 1em;
}
/*--single--*/
.grid {
	float: left;
	width: 37%;
}
.span1_of_1_des{
	float: right;
	width: 58%;
	margin-left: 3.333%;
}
/* start desc1 */
.desc1 h3{
	color:#000;
	font-size:2em;
	margin-bottom: 10px;
	font-family: 'Oswald', sans-serif;
}
.desc1 h5{
	margin-top: 2%;
	font-size: 1.6em;
	color: #bc3726;
	line-height: 1.5em;
	text-shadow: 0 1px 0 #ffffff;
}
.desc1 h5 a{
	margin-left:5px;
	color:#555555;
	text-transform:capitalize;
	font-size: 14px;
}
.desc1 h5 a:hover{
	color: #bc3726;
}
.desc1 p{
	font-size: 1em;
	color: #767676;
	line-height: 1.8em;
}
/* start available */
.available {
	margin-top: 10px;
	padding: 15px 0;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.available h4{
	font-size: 1.1em;
	color: #777;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #ffffff;
}
.available li {
	display: inline;
	font-size: 0.8125em;
	padding: 1.5% 2%;
	color: #555555;
}
.available li select {
	font-family: 'Source Sans Pro', sans-serif;
	outline:none;
	display: inline;
	font-size: 1em;
	color: #555555;
	margin-left: 10px;
	padding: 4px;
	border: 1px solid rgb(224, 224, 224);
}
.available span a{
	padding-top: 35px;
	display: block;
	color: #555555;
	font-size: 0.8725em;
	text-transform: uppercase;
	text-decoration: underline;
	margin-right: 10px;
}
.available span a:hover{
	text-decoration: none;	
}
/* start share-des */
.share-desc{
	padding: 20px 0;
}
.share h4{
	font-size: 1.1em;
	color: #777;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #ffffff;
}
.share_nav{
	float:left;
}
.share_nav li {
	display: inline-block;
	margin: 5px 6px;
}
.share_nav li a {
	background: #9C9C9C;
	padding: 10px;
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
}
.share_nav li a:hover{
	background: #bc3726;
}
.share li img {
	vertical-align:middle; 
}
/*----*/
.form-in{
	margin-top: 3em;
	float: left;
}
.form-in a{
	text-decoration:none;
	color:#fff;
	font-size:1.2em;
	background:#bc3726;
	padding:0.6em 1em;
}
.form-in a:hover{
	background:#FD1E01;
}
/*----*/
.span_right{
	float: right;
	margin-top:1em;
}
.span_right a{
	padding-top:0;
}
/* start tabs */
.sap_tabs{
	padding: 1em 0;
}
.resp-tabs-list {
	width: 100%;
	list-style: none;
	padding: 0;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	font-size: 0.8125em;
	cursor: pointer;
	padding: 12px 10px;
	display: inline-block;
	margin: 0 ;
	text-align: center;
	list-style: none;
	float: left;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
}
.resp-tab-active{
	background:#bc3726;
	color:#fff;	
}
.resp-tab-item span{
	font-size:1.1em;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#f77462;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#6CC5D9;
	text-shadow: none;
	color: #FFF;
}
.facts{
	border: 1px solid #D4D1D1;
padding: 2em;
}
.facts p{
	color:#767676;
	font-size:1em;
	line-height:1.7em;
	padding:0 0 1em;
}
.facts ul li{
	list-style:none;
	color:#767676;
	font-size:1em;
	padding:0.3em 0;
}
/*--contact--*/
.contact-in h3{
	margin:0.5em 0;
	font-size:3em;
	color:#5f5f5f;
	text-transform:uppercase;
	font-weight:700;
	font-family: 'Oswald', sans-serif;
}
.contact-right  h5 {
	color:#5f5f5f;
	margin-bottom:0.5em;
	font-size:1.7em;
	margin-top: 0px;
}
.contact-left input[type="text"],.contact-left textarea{
	padding:14px;
	display:block;
	width:98%;
	background:#fcfcfc;
	border: 1px solid #E0E0E0;
	outline:none;
	color:#464646;
	font-size:0.8125em;	
}
.contact-left textarea{
	resize:none;
	height:100px;		
}
.contact-left input[type="submit"]{
	outline:none;
	padding:7px 20px;
	color:#FFF;
	cursor:pointer;
	background:#bc3726;
	border:none;
   margin:0.5em 0 ;
   transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.contact-left input[type="submit"]:hover{
	background-color:#FD1E01;
}
.contact-right p{
	font-size:1em;
	color:#333;
	line-height: 1.8em;
}
.contact-right p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.contact-right p a{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.contact-right p span:hover,.contact-right p a:hover{
	text-decoration:none;
}
.map iframe{
	border:0;
	margin-bottom:15px;
	width: 100%;
	height: 175px;
}
.contact-left span{
	font-size:1em;
	display: block;
	padding: 0.5em 0;
}
.contact-in{
	padding: 0em 0 3em;
}
.contact {
	padding: 2em 0 3em;
}
.contact-left {
	padding: 0 2em 0 0;
}
.contact-right {
	padding: 0;
}
/*----*/
/*--register--*/
.register-top-grid h3 {
	color:#bc3726;
	font-size: 1.1em;
	padding-bottom: 5px;
	margin: 0;
	font-weight:600;
}
.register-top-grid span {
	color:#555;
	font-size: 0.9em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.register-top-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#bc3726;
	width: 70%;
	font-size: 1em;
	padding: 0.5em;
	margin: 0.5em 0;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.2em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	font-size: 1em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 1em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #E1DFDF;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick.png") no-repeat 1px 2px;
	top: 2px;
	left: 2px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}

.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register {
	padding: 4em 0;
}
/*--privacy--*/
.privacy-top h3{
	font-size: 3em;
	color: #5f5f5f;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;	
}
.privacy-bottom h5 a{
	font-size:1.5em;
	color:#bc3726;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;	
}
.privacy-bottom h5 a:hover{
	color:#000;
}
.privacy-bottom p{
	font-size:1em;
	color:#000;
	padding: 0.5em 0;
	width: 97%;
	line-height: 1.6em;
}
.privacy-bottom {
	padding: 2em 0 0;
}
.privacy-top {
	padding: 3em 0;
}
/*--article--*/
.article-top h3{
	font-size: 3em;
	color: #5f5f5f;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;	
}
.article-bottom h6 a{
	font-size:1.5em;
	color:#bc3726;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;	
}
.article-bottom h6 a:hover{
	color:#000;
}
.article-bottom p{
	font-size:1em;
	color:#000;
	padding: 0.5em 0;
	width: 97%;
	line-height:1.6em;
}
.article-bottom {
	padding: 2em 0 0;
}
.article-top {
	padding: 3em 0;
}
 img.women{
	margin:0 auto;
}
/*----*/
/* start women */
.w_sidebar{
	border: 1px solid #EBEBEB;
}
.w_nav2{
	padding: 20px;
}
.w_nav2  li{
	line-height: 1.5em;
	display: inline-block;
}
.w_nav2 li a{
	display: block;
	padding: 14px;
}
.w_nav2 li a.color1{
	background:	#0AA5E2;
}
.w_nav2 li a.color2{
	background:	#40E0D0;
}
.w_nav2 li a.color3{
	background:	#B03060;
}
.w_nav2 li a.color4{
	background:	#000080;
}
.w_nav2 li a.color5{
	background:	#E60D41;
}
.w_nav2 li a.color6{
	background:	#45BF55;
}
.w_nav2 li a.color7{
	background:	#FF7F00;
}
.w_nav2 li a.color8{
	background:	#8B4513;
}
.w_nav2 li a.color9{
	background:	#FFD700;
}
.w_nav2 li a.color10{
	background:	#9FA8AB;
}
.w_nav2 li a.color11{
	background:	#C0C0C0;
}
.w_nav2 li a.color12{
	background:	#0AA5E2;
}
.w_nav2 li a.color13{
	background:	#FFCBDB;
}
.w_nav2 li a.color14{
	background:	#B87333;
}
.w_nav2 li a.color15{
	background:	#BFB540;
}
.sky-form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.w_sidebar h3{
	padding:0 20px 10px;
	font-size: 1em;
	color: #555555;
	text-transform:uppercase;
}
/* radios and checkboxes */
.sky-form {
	margin-top: -10px;
}
.row1{
	outline:none;
	padding: 20px;
	overflow: auto;
	height: 200px;
}
.sky-form.col.col-4 ul {
padding: 0;
list-style: none;
}
.sky-form h4{
	margin-top: 10px;
	background: #ECECEC;
	padding: 10px 20px;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size:16px;
}
.sky-form section {
	margin-bottom: 20px;
}
.sky-form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.sky-form .label.col {
	margin: 0;
	padding-top: 10px;
}
.sky-form .input,
.sky-form .select,
.sky-form .textarea,
.sky-form .radio,
.sky-form .checkbox,
.sky-form .toggle,
.sky-form .button {
	position: relative;
	display: block;
}
/* selects */
.sky-form .select i {
	position: absolute;
	top: 14px;
	right: 14px;
	width: 1px;
	height: 11px;
	background: #fff;
	box-shadow: 0 0 0 12px #fff;
}
.sky-form .select i:after,
.sky-form .select i:before {
	content: '';
	position: absolute;
	right: 0;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.sky-form .select i:after {
	bottom: 0;
	border-top: 4px solid #404040;
}
.sky-form .select i:before {
	top: 0;
	border-bottom: 4px solid #404040;
}
.sky-form .select-multiple select {
	height: auto;
}
/* radios and checkboxes */
.sky-form .radio,.sky-form .checkbox {
	outline:none;
	border:none;
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 13px;
	line-height: 27px;
	color: #555555;
	cursor: pointer;
	text-transform: capitalize;
	font-weight: normal;
	margin-top: 0;
}
.sky-form .radio{
	text-transform: none;
}
.sky-form .radio:last-child,
.sky-form .checkbox:last-child {
	margin-bottom: 0;
}
.sky-form .radio input,
.sky-form .checkbox input {
	position: absolute;
	left: -9999px;
}
.sky-form .radio i,
.sky-form .checkbox i {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 17px;
	height: 17px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	background: #fff;
}
.sky-form .radio i {
	border-radius: 50%;
}
.sky-form .radio input + i:after,
.sky-form .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.sky-form .radio input + i:after {
	content: '';
	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.sky-form .checkbox input + i:after {
	content: '';
	top: 3px;
	left: 2px;
	width: 10px;
	height: 7px;
	background: url(../images/tick.png) no-repeat;
	text-align: center;
}
.sky-form .radio input:checked + i:after,
.sky-form .checkbox input:checked + i:after {
	opacity: 1;
}
.sky-form .inline-group {
	margin: 0 -30px -4px 0;
}
.sky-form .inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.sky-form .inline-group .radio,
.sky-form .inline-group .checkbox {
	float: left;
	margin-right: 30px;
}
.sky-form .inline-group .radio:last-child,
.sky-form .inline-group .checkbox:last-child {
	margin-bottom: 4px;
}
/* icons */

.sky-form [class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
/* normal state */
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea,
.sky-form .radio i,
.sky-form .checkbox i,
.sky-form .toggle i,
.sky-form .icon-append,
.sky-form .icon-prepend {
	border-color: #e5e5e5;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.sky-form .toggle i:before {
	background-color: #2da5da;	
}
/* hover state */
.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i {
	border-color: #bc3726;
}
.sky-form .button:hover {
	opacity: 1;
}
/* focus state */
.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus,
.sky-form .radio input:focus + i,
.sky-form .checkbox input:focus + i,
.sky-form .toggle input:focus + i {
	border-color: #bc3726;
}
/* checked state */
.sky-form .radio input + i:after {
	background-color: #bc3726;	
}
.sky-form .checkbox input + i:after {
	color: #bc3726;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
	border-color: #bc3726;	
}
/* error state */
.sky-form .state-error input,
.sky-form .state-error select,
.sky-form .state-error textarea,
.sky-form .radio.state-error i,
.sky-form .checkbox.state-error i,
.sky-form .toggle.state-error i {
	background: #fff0f0;
}
/* success state */
.sky-form .state-success input,
.sky-form .state-success select,
.sky-form .state-success textarea,
.sky-form .radio.state-success i,
.sky-form .checkbox.state-success i,
.sky-form .toggle.state-success i {
	background: #f0fff0;
}
/* disabled state */
.sky-form .input.state-disabled input,
.sky-form .select.state-disabled,
.sky-form .textarea.state-disabled,
.sky-form .radio.state-disabled,
.sky-form .checkbox.state-disabled,
.sky-form .toggle.state-disabled,
.sky-form .button.state-disabled {
	cursor: default;
	opacity: 0.5;
}
.sky-form .input.state-disabled:hover input,
.sky-form .select.state-disabled:hover select,
.sky-form .textarea.state-disabled:hover textarea,
.sky-form .radio.state-disabled:hover i,
.sky-form .checkbox.state-disabled:hover i,
.sky-form .toggle.state-disabled:hover i {
	border-color: #e5e5e5;
}
/*-- start scrollpane --*/
.jspContainer{
	overflow: hidden;
	position: relative;
}
.jspPane{
	position: absolute;
	outline: none;
	padding: 20px !important;
}
.jspVerticalBar{
	position: absolute;
	top: 0;
	right:0px;
	width:5px;
	height: 100%;
}
.jspHorizontalBar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}
.jspCap{
	display: none;
}
.jspHorizontalBar .jspCap{
	float: left;
}
.jspTrack{
	background: #f0f0f0;
	position: relative;
}
.jspDrag{
	background: #777777;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{
	float: left;
	height: 100%;
}
.jspArrow{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.jspArrow.jspDisabled{
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow{
	height: 16px;
}
.jspHorizontalBar .jspArrow{
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus{
	outline: none;
}
.jspCorner{
	background: #eeeef4;
	float: left;
	height: 100%;
}
.single {
	padding: 3em 0;
}
/*-- end scrollpane --*/
/*--responsive media-quries--*/
@media(max-width:1440px){
}
@media(max-width:1336px){
}
@media(max-width:1280px){
.nbs-flexisel-item{
	margin-right:8px;
}
.header-grid-right {
	width: 55%;
}
}
@media(max-width:1024px){
.banner-matter {
	left: 4em;
	top:8em;
}
.you {
	left: 15em;
}
.col-d {
	margin-right: 1.8%;
}
a.know-more {
	bottom: 8px;
}
span.twitter-ic {
	right: 4px;
}
.you-onto,.you-two {
	left: 14em;
}
.you-men ,.you-women{
	width:32%;
}
.para-grid {
	margin: 0;
}
.article-bottom p {
	height: 55px;
	overflow: hidden;
}
p.para-in {
	font-size: 1em;
}
.span1_of_1_des {
	width: 52%;
}
.desc1 h3 {
	font-size: 1.8em;
}
}
@media(max-width:768px){
.header-grid {
width: 40%;
}
.header-grid-right {
	width: 60%;
}
.header-top{
	text-align:center;
}
.header-grid-right input[type="text"] {
	width: 26%;
	margin-right: 8px;
}
a.sign-up {
	padding: 4px 0px 4px 4px;
}
.header-grid-right input[type="submit"] {
	width: 9%;
	margin-right: 12px;
}
.header-grid ul li {
	padding: 1.4em 0.3em;
}
.search {
	width: 20%;
	margin:1em 0.8em 1em 0;
}
a.sign-in {
	width: 14%;
}
.search input[type="submit"] {
	margin: 1px 0px 0px 1px;
}
.col-d{
	width:100%;
}
.col-m-left{
	width:100%;
}
.col-m-left {
	width: 50%;
	margin: 0 auto;
}
.you-onto,.you-two {
	left: 10em;
	width:70px;
	height:70px;
}
.you-onto span,.you-two span {
	font-size: 2.5em;
	height: 35px;
}
.banner_right {
	float: none;
	width: 100%;
	margin: 2em 0em 0em;
}
.in-product {
	float: none;
	width: 62%;
	margin: 0 auto;
}
.span1_of_1_des {
	float: none;
	width: 100%;
	 margin-left: 0; 
}
.grid {
	float: none;
	width: 100%;
}
.zoom-img {
	margin: 0 auto;
}
.article-bottom {
	padding: 1em 0 0;
}
.article-para {
	padding: 1em 0;
}
.wmuSliderPrev, .wmuSliderNext {
	top: 56%;
}
.contact-left {
	padding: 0;
}
.products_top {
	padding: 3em 0;
}
.article-bottom h6 a {
	font-size: 1.4em;
}
.privacy-bottom h5 a {
	font-size: 1.3em;
}
.price-on{
	padding:0;
}
.article-head{
	padding:0;
}
}
@media(max-width:640px){
.header-grid {
	width: 44%;
}
.header-grid-right {
	width: 25%;
	padding:8px 0;
}
a.sign-in {
	width: 44%
}
a.sign-up {
	width: 44%;
}
.header-grid-right input[type="text"], .header-grid-right input[type="submit"] {
	display: none;
}
.ad-right {
	padding: 1.2em 0;
	width: 62%;
}
.banner-matter {
	top: 8em;
}
.you {
	left: 12em;
}
p.para-in {
	font-size: 0.9em;
	bottom: 12px;
}
.you-in {
	left: 9em;
}
.you-para p {
	font-size: 0.8em;
}
.footer {
	padding: 1em 0;
	text-align:center;
}
.class-footer {
	float: none;
}
.footer-left {
	float: none;
}
.footer p {
	margin: 0.5em 0;
}
.you-onto,.you-two {
	left: 8em;
	width: 55px;
	height: 55px;
	top: 1em;
}
.you-onto span ,.you-two span{
	font-size: 2em;
	height: 29px;
}
.you-onto small,.you-two small  {
	font-size: 1em;
}
.you-men p,.you-women p{
	font-size:0.8em;
}
.in-product {
	width: 82%;
}
a.to-cart {
	font-size: 1.1em;
	padding: 0.4em 0.7em;
}
.tab_desc1 h3 a {
	font-size: 1em;
}
.products_top {
	padding: 2em 0;
}
.mens-toolbar .sort {
	width: 26%;
}
.form-in a {
	font-size: 1.1em;
	padding: 0.4em 0.8em;
}
.desc1 h3 {
	font-size: 1.6em;
}
.sap_tabs {
	padding: 0em 0 3em;
}
.article-top h3 {
	font-size: 2.5em;
}
.contact-in h3 {
	font-size: 2.5em;
}
.privacy-top h3 {
	font-size: 2.5em;
}
.privacy-bottom {
	padding: 1em 0 0;
}
.search {
	width: 25%;
}
.header-grid ul li {
	padding: 1em 0.3em;
}
.col-m-left {
	width: 60%;
}
}
@media(max-width:480px){
a.sign-up {
	font-size: 1em;
	width:100%;
}
.header-grid {
	width: 54%;
}
.header-grid ul li a {
	font-size: 1em;
}
.header-grid-right {
	width: 15%;
}
a.sign-in {
	display:none;
}
.header-grid-right label {
	display: none;
}
.ad-right{
	display:none;
}
.logo {
	float: none;
	text-align: center;
}
.search {
	width: 34%;
}
.banner-matter {
	top: 4em;
	left:2em;
}
.banner{
	min-height:290px;
}
.banner-matter h2 {
font-size: 2.7em;
}
.banner-matter label {
	font-size: 1.3em;
}
.banner-matter p {
	font-size: 1.2em;
}
.you {
	width: 75px;
	height: 75px;
	top: 10em;
	left:7em;
}
.you span {
	font-size: 2.7em;
	height: 44px;
}
p.para-in {
	bottom: 5px;
	left: 12px;
	width: 44%;
	height: 20px;
	overflow: hidden;
}
.para-an h3 {
	font-size: 1.6em;
}
.you-para {
	width: 48%;
	margin-right: 2%;
	padding:0 0 1em;
}
.col-m-left {
	width: 80%;
}
.buy-an h3 {
	font-size: 1.3em;
}
.in-line {
	padding: 1em 0;
}
.you-men ,.you-women{
	width: 48%;
	margin-right:2%;
	padding:0 0 1em;
}
.you-onto,.you-two {
	left: 10em;
}
.para-all h3,.para-all-in h3  {
	font-size: 1.5em;
}
.wmuSlider {
	min-height: 361px;
}
.banner_right h3 {
	font-size: 1.3em;
}
p.nine {
	font-size: 1.8em;
}
.tab_desc1 h3 a {
	font-size: 0.8em;
}
.grid-4 {
	margin-right: 2%;
	width: 48%;
}
.grid-4:nth-child(9){
	display:none;
}
.article-top h3 {
	font-size: 2em;
}
.article-top {
	padding: 2em 0;
}
.privacy-top h3 {
	font-size: 2em;
}
.privacy-top {
	padding: 2em 0;
}
.contact-in h3 {
	font-size: 2em;
}
.contact {
	padding: 1.5em 0 2em;
}
 .contact-right h5 {
	font-size: 1.5em;
}
.nbs-flexisel-container {
	padding: 1em 0;
}
.in-left{
	min-height:280px;
}
p.code {
	font-size: 1.3em;
	top: 38px;
}
.hide-in{
	text-align:center;
}
.register {
	padding: 2em 0;
}
.single {
	padding: 2em 0;
}
}
@media(max-width:320px){
.header-grid-right {
	width: 21%;
}
.header-grid {
	width: 79%;
}
.header-grid ul li {
	padding: 0.8em 0.1em;
}
.search {
	width: 44%;
	margin: 0.7em 0.8em 0.6em 0;
}
.top-nav span.menu {
	padding: 0.7em 1em 0.4em;
}
.search input[type="text"] {
	font-size: 0.9em;
}
.search input[type="submit"]{
	margin:0;
}
.banner {
	min-height: 175px;
}
.banner-matter {
	top: 2em;
	left: 1em;
}
.banner-matter label {
	font-size: 1em;
}
.banner-matter h2 {
	font-size: 1.7em;
}
.banner-matter p {
	font-size: 0.9em;
}
.you {
	width: 50px;
	height: 50px;
	top: 6.5em;
	left: 4.5em;
}
.you span {
	font-size: 1.8em;
	height: 28px;
}
.you span label {
	font-size: 10px;
}
.you small {
	font-size: 0.9em;
}
p.para-in {
	font-size: 0.87em;
	bottom: -1px;
	left: 2px;
	width: 47%;
}
.para-an h3 {
	font-size: 1.2em;
}
.para-an p {
	font-size: 0.9em;
	padding:0.5em 0;
}
.lady-in {
	padding: 1em 0 0;
}
.you-para span{
	font-size:0.85em;
}
.you-in {
	left: 6em;
	top:0.5em;
	width: 40px;
	height: 40px;
}
.you-in span {
	font-size: 1.3em;
	height: 17px;
}
.you-in span label {
	nt-size: 9px;
}
.you-in small {
	font-size: 0.8em;
}
.you-para p {
	font-size: 0.9em;
	height: 25px;
	overflow:hidden;
}
label.cat-in {
	display: none;
}
.col-m-left {
	width: 100%;
}
p.no-more ,p.no-get{
	font-size: 1em;
}
a.know-more {
	bottom: 15px;
	font-size:1em;
}
.twitter-in h5 {
	font-size: 1.3em;
}
.buy-an h3 {
	font-size: 1.1em;
}
.buy-an p{
	font-size:0.85em;
}
.hide-in span {
	font-size: 0.9em;
}
p.code {
	font-size: 1.3em;
	top: 29px;
}
.discount {
	padding: 1em 0 0;
}
.up-date {
	padding: 0.5em 0em;
}
.para-all h3,.para-all-in h3  {
	font-size: 1.2em;
}
.para-all p,.para-all-in p{
	font-size:0.9em;
}
.you-men span,.you-women span{
	font-size:0.85em;
}
.you-onto ,.you-two{
	left: 6em;
	top:0.5em;
	width: 40px;
	height: 40px;
}
.you-onto span ,.you-two span{
	font-size: 1.3em;
	height: 17px;
}
.you-onto span label,.you-two span label  {
	font-size: 9px;
}
.you-onto small ,.you-two small{
	font-size: 0.8em;
}
.you-men p,.you-women p {
	font-size: 0.9em;
	height: 25px;
	overflow:hidden;
}
label.cat-in {
	display: none;
}
.lady-in-on {
	padding: 1em 0.8em;
}
.wmuSlider {
	min-height: 222px;
}
.in-product {
	width: 100%;
}
.banner_right h3 {
	font-size: 1.1em;
}
p.nine {
	font-size: 1.5em;
}
p.sit-in {
	 padding: 0em ;
	height: 110px;
	overflow: hidden;
	margin-bottom: 0.5em;
}
a.to-cart {
	font-size: 1em;
}
.mens-toolbar .sort {
	width: 59%;
	float:none;
}
.pages{
	float:none;
}
.limiter.visible-desktop {
	margin: 3px 3em 0 0;
}
.tab_desc1 h3 a {
	font-size: 0.78em;
}
a.to-cart img {
	padding: 2px 0px 0px 5px;
}
.product_box1{
	margin:0;
}
.products_top {
	padding: 1em 0 0;
}
.product_right {
	padding: 1em 0 0;
}
.sale_grid{
	margin-bottom:1em;
}
.desc1 h3 {
	font-size: 1.3em;
}
.desc1 p {
	font-size: 1em;
	color: #767676;
	line-height: 1.5em;
	height: 82px;
	overflow: hidden;
}
.desc1 h5 {
	margin-top: 2%;
}
.available {
	margin-top:0;
}
.available h4 {
	font-size: 1em;
	color: #777;
	margin-bottom: 0px;
}
.available li select {
	margin-top: 6px;
}
.form-in {
	margin-top: 1.5em;
}
.available span a {
	padding-top: 20px;
}
.span_right {
	float: left;
	margin-top: 0em;
}
.share-desc {
	padding: 10px 0;
}
.single_grid {
	padding: 1em 0;
}
.facts {
	padding: 1em;
}
.facts p {
	height: 50px;
	overflow: hidden;
}
.resp-tab-item {
	padding: 8px;
}
.sap_tabs {
	padding: 0em 0 1.5em;
}
.article-top h3,.contact-in h3 ,.privacy-top h3{
	font-size: 1.5em;
}
.article-bottom {
	padding: 0em 0 0;
}
.article-bottom h6 a {
	height: 17px;
	overflow: hidden;
	display: block;
}
.article-top {
	padding: 1em 0;
}
.article-bottom p {
	line-height: 1.5em;
	height:54px;
}
 .contact-right h5 {
	font-size: 1.3em;
}
.contact-in {
	padding: 0em 0 1em;
}
.contact {
	padding: 1em 0 0.5em;
}
.privacy-bottom h5 a {
	height: 18px;
	overflow: hidden;
	display: block;
}
.privacy-bottom p {
	height: 71px;
	overflow: hidden;
}
.privacy-top {
	padding: 1.5em 0;
}
.women-in {
	padding: 1em 0;
}
.footer {
	padding: 0.5em 0 1em;
}
.cool {
	width: 134px;
	height: 142px;
	background-size: 135px;
}
.register {
	padding: 1.5em 0;
}
.register-top-grid input[type="text"] {
	width: 100%;
}
.register-but form input[type="submit"] {
	padding: 0.6em 1.5em;
}
.single {
	padding: 1em 0;
}

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


}
